# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env

# AWS SAM
.aws-sam/
samconfig.toml

# Python
__pycache__/
*.py[cod]
.venv/

# Editor y sistema operativo
.vscode/
.idea/
.DS_Store
Thumbs.db
